version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    labels:
      - "github_actions"
      - "dependencies"

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    labels:
      - "npm"
      - "dependencies"
