name: 'create-tag'

on:
  push:
    branches:
      - main 
    tags:
      - "!*"

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Set Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x        

      - name: Install dependenceis
        run: |
          npm install

      - name: Run all npm script
        run: |
          npm run all

      - name: get version 
        uses: ./
        id: get_version
        with:
         project: package.json

      - name: check tag exists
        uses: bbonkr/git-tag-check-action@v1
        id: check_tag
        with:
          tag: "v${{ steps.get_version.outputs.version }}"
          github_token: ${{ secrets.GH_TOKEN }}          

      - name: Create or update tag major
        uses: rickstaa/action-create-tag@v1
        if: ${{ (steps.check_tag.outputs.tag == '') && (steps.get_version.outputs.major != '') }}
        with:
          tag: "v${{ steps.get_version.outputs.major }}"
          message: "v${{ steps.get_version.outputs.major }}"
          commit_sha: ${{ github.sha }}
          force_push_tag: true 

      - name: Create or update tag major.minor
        uses: rickstaa/action-create-tag@v1
        if: ${{ (steps.check_tag.outputs.tag == '') && (steps.get_version.outputs.major != '') && (steps.get_version.outputs.minor != '') }}
        with:
          tag: "v${{ steps.get_version.outputs.major }}.${{ steps.get_version.outputs.minor }}"
          message: "v${{ steps.get_version.outputs.major }}.${{ steps.get_version.outputs.minor }}"
          commit_sha: ${{ github.sha }}
          force_push_tag: true 

      - name: Create or update latest git tag
        uses: rickstaa/action-create-tag@v1
        if: ${{ (steps.check_tag.outputs.tag == '') }}
        with:
          tag: latest
          message: latest
          commit_sha: ${{ github.sha }}
          force_push_tag: true           

      - name: Create current git tag 
        uses: pkgdeps/git-tag-action@v2
        if: ${{ steps.check_tag.outputs.tag == '' }}
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          github_repo: ${{ github.repository }}
          version: ${{ steps.get_version.outputs.version }}
          git_commit_sha: ${{ github.sha }}
          git_tag_prefix: "v"

      - name: git tag skipped
        if: ${{ steps.check_tag.outputs.tag != '' }}
        run: |
          echo "Tag (v${{ steps.check_tag.outputs.tag }}) is exists already." 
